<div class="homepage-header">
<%- include ("./partials/messages"); %>

<h1 class="lead mb-3">Welcome <%= user.firstName %>  <%= user.lastName %>!</h1>
<a href="/users/logout" class="logout-btn btn btn-dark">Logout</a>
</div>
<div class="container homepage">

    <div id="home" class="row">
        <div class="slogan col-lg-6">
            <h1 style="font-style: italic;">Floral Whispers: Elegance in Every Petal.</h1>
            <p>At Floral Whispers, we believe in the enchanting power of flowers to add vibrance, elegance, and
                emotion
                to
                every moment of life. Our passion for blossoms drives us to curate exquisite floral arrangements
                that
                capture the essence of nature's finest creations.</p>
        </div>
        <div class="col-lg-4">
            <img class="home-photo" src="https://i.pinimg.com/736x/50/c7/06/50c706e6ce9022354ae527158482e5af.jpg"
                alt="main picture">
        </div>
    </div>
  </div>
  
  <!-- Info cards and animation -->
  
  <div class="card-group">
    <div class="card">
        <img src="https://i.pinimg.com/564x/66/fd/49/66fd49b0a15ede82cbe65d3da688dad0.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Roses</h5>
            <p class="card-text">Roses are classic flowers known for their beauty and fragrance. They come in a wide
                array of colors, each carrying its symbolic meaning..</p>
        </div>
    </div>
    <div class="card">
        <img src="https://i.pinimg.com/564x/80/12/8c/80128cd7233606eb500ed3cdaeded9ca.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Sunflowers</h5>
            <p class="card-text">Sunflowers are vibrant flowers recognized for their large, daisy-like blossoms and
                tall stems.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://i.pinimg.com/564x/08/01/4d/08014d17111b4506e3f347728165d9ad.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Lilies</h5>
            <p class="card-text">Lilies are elegant and graceful flowers, known for their trumpet-shaped blooms and
                pleasant fragrance.</p>
        </div>
    </div>
  </div>


      <!-- Price page -->
      <%- include ("./bouquets"); %>

    </div>
