<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/morph/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/style.css">
    <title>App</title>
  </head>
  <body>
    <%- include ("./partials/header"); %>
    <%- body %>
    <%- include ("./partials/footer"); %>

    <script>
      // Функция для получения совета от API
      async function getAdvice() {
          try {
              const response = await fetch('https://api.adviceslip.com/advice');
              const data = await response.json();
              return data.slip.advice;
          } catch (error) {
              console.error('Ошибка при получении совета:', error);
              return 'Ошибка при получении совета';
          }
      }

      // Обновление содержимого параграфа с советом
      async function updateAdvice() {
    const adviceElement = document.querySelector('.advice p');
    if (adviceElement) {
        const advice = await getAdvice();
        adviceElement.textContent = advice;
    } else {
        console.error('Элемент с классом .advice не найден');
    }
}


      // Вызываем функцию для обновления совета при загрузке страницы
      updateAdvice();
  </script>
    <script src="https://kit.fontawesome.com/0e6ebc0d07.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </body>
</html>